<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load VueJS from unpkg -->
    <script src="https://unpkg.com/vue@3.2.26" />
    <title>VueJS - mock</title>
</head>
<body>
    <h1>Welcome to VueJS !</h1>
    
    <div id="mount-vuejs">
        <p>{{ teamName }} - {{ playerName }} - {{ playerPosition }} - {{ homeruns }}</p>
        
        <button v-on:click="homeruns++">Hit a dinger</button>
        <br />
        <button v-on:click="homeruns--">Disallow a homerun...</button>
        
        <br />
        
        <!-- OnClick event -->
        <div @click="changePlayer("Mike Trout")">Change player</div>
        
        <br />
        
        <!-- Conditional Rendering -->

        <!-- Shown if 'true', otherwise, not shown -->
        <div v-if="hasManager">
            <p>The Angels manager : {{ managerName }}</p>
        </div>

        <button @click="toggleShowManager">
            <span v-if="hasManager">Hide manager</span>
            <span v-else>Show manager</span>
        </button>

        <!-- Similar to 'v-if', 'v-show' only displays its content when the condition meets -->
        <div v-show="hasManager">Currently a manager is in charge of the team.</div>
    </div>
</body>

<script src="index.js"></script>
</html>
