.wrapper {
  max-width: 480px;
  margin: auto;
  
  /* background: #fff; */
  background-color: blanchedalmond;
  
  margin-top: 3.1rem;
  padding: 0 50px 50px 50px;

  display: flex;
  flex-direction: column;
}
