# Reference : https://docs.gitlab.com/ee/install/docker.html

version: '3.8'

services:
  gitlab-web:
    image: "gitlab/gitlab-ee:latest"
    restart: always
    hostname: "gitlab.example.com"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "https://gitlab.example.com"
    ports:
      - "80:80"
      - "443:443"
      - "22:22"
    # The GitLab container uses host mounted volumes to store persistent data (https://docs.gitlab.com/ee/install/docker.html#set-up-the-volumes-location)
    #
    # Linux : GITLAB_HOME=/srv/gitlab
    # MacOS : GITLAB_HOME=$HOME/gitlab
    #
    volumes:
      # For storing application data
      - "$GITLAB_HOME/config:/var/opt/gitlab"
      # For storing logs
      - "$GITLAB_HOME/logs:/var/log/gitlab"
      # For storing the GitLab configuration files
      - "$GITLAB_HOME/config:/etc/gitlab"
    shm_size: "256m"