/* --- Reset browser's styling --- */
* {
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* ------------------------------- */

body {
    line-height: 1;
}

.title {
    text-align: center;
    color: chocolate;
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    font-weight: 300;
}

.button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    /* margin: 5px; */
}

.btn {
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.item {
    margin: 5px;
    border-radius: 5px;
}
