### Dependency ###
node_modules

### Git ###
.github
.git
.gitignore

### Docker ###
docker-compose.yml
docker-compose.yaml

### NuxtJS ###
.nuxt

### Environment Variables ###
.env.example

### Project ###
README.md
