subnet_ip_cidr_range           = "10.100.0.0/16"
subnet_secondary_ip_cidr_range = "192.168.10.0/24"
network-name                   = "development-network"
subnet_01_name                 = "dev-subnet-01"
